In [1]:
import numpy as np
import pandas as pd

In [3]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [4]:
ser

0    0.086954
1    0.640650
2    0.756951
3    0.990965
4    0.997649
Name: Column 01, dtype: float64

In [5]:
ser[2]

0.7569507431145367

In [6]:
from pandas_datareader import data as wb

In [34]:
PG = wb.DataReader('PG', data_source ='iex', start = '2018-10-1')

ValueError: The IEX Cloud API key must be provided either through the api_key variable or through the  environment variable IEX_API_KEY

In [29]:
TSLA

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-10-01,245.949997,239.130005,241.500000,244.690002,6162600,244.690002
2019-10-02,244.649994,239.429993,243.289993,243.130005,5631400,243.130005
2019-10-03,234.479996,224.279999,231.860001,233.029999,15084500,233.029999
2019-10-04,234.779999,228.070007,231.610001,231.429993,7995000,231.429993
2019-10-07,238.559998,228.550003,229.800003,237.720001,8064200,237.720001
2019-10-08,243.940002,234.500000,235.869995,240.050003,8678200,240.050003
2019-10-09,247.300003,240.649994,241.320007,244.529999,6894400,244.529999
2019-10-10,249.279999,241.580002,245.279999,244.740005,6283300,244.740005
2019-10-11,251.080002,246.809998,247.149994,247.889999,8475400,247.889999
2019-10-14,258.549988,247.130005,247.899994,256.959991,10205000,256.959991
2019-10-15,260.000000,254.119995,257.700012,257.890015,6432800,257.890015
2019-10-16,262.100006,256.920013,257.390015,259.750000,6684100,259.750000
2019-10-17,264.779999,260.170013,262.500000,261.970001,4769300,261.970001
2019-10-18,262.799988,255.100006,260.700012,256.950012,5749800,256.950012
2019-10-21,259.500000,250.179993,258.329987,253.500000,5020300,253.500000
2019-10-22,258.329987,250.850006,254.320007,255.580002,4600800,255.580002
2019-10-23,256.140015,251.350006,254.500000,254.679993,5261100,254.679993
2019-10-24,304.929993,289.200012,298.369995,299.679993,29720900,299.679993
2019-10-25,330.000000,296.109985,297.720001,328.130005,29982400,328.130005
2019-10-28,340.839996,322.600006,327.540009,327.709991,18860900,327.709991
2019-10-29,324.299988,314.750000,319.989990,316.220001,12673300,316.220001
2019-10-30,318.790009,309.970001,313.000000,315.010010,9637000,315.010010
2019-10-31,319.000000,313.010010,313.100006,314.250702,1853635,314.250702

In [18]:
TSLA.info

<bound method DataFrame.info of                   High         Low        Open       Close    Volume  \
Date
2019-10-01  245.949997  239.130005  241.500000  244.690002   6162600
2019-10-02  244.649994  239.429993  243.289993  243.130005   5631400
2019-10-03  234.479996  224.279999  231.860001  233.029999  15084500
2019-10-04  234.779999  228.070007  231.610001  231.429993   7995000
2019-10-07  238.559998  228.550003  229.800003  237.720001   8064200
2019-10-08  243.940002  234.500000  235.869995  240.050003   8678200
2019-10-09  247.300003  240.649994  241.320007  244.529999   6894400
2019-10-10  249.279999  241.580002  245.279999  244.740005   6283300
2019-10-11  251.080002  246.809998  247.149994  247.889999   8475400
2019-10-14  258.549988  247.130005  247.899994  256.959991  10205000
2019-10-15  260.000000  254.119995  257.700012  257.890015   6432800
2019-10-16  262.100006  256.920013  257.390015  259.750000   6684100
2019-10-17  264.779999  260.170013  262.500000  261.970001   4769300
2019-10-18  262.799988  255.100006  260.700012  256.950012   5749800
2019-10-21  259.500000  250.179993  258.329987  253.500000   5020300
2019-10-22  258.329987  250.850006  254.320007  255.580002   4600800
2019-10-23  256.140015  251.350006  254.500000  254.679993   5261100
2019-10-24  304.929993  289.200012  298.369995  299.679993  29720900
2019-10-25  330.000000  296.109985  297.720001  328.130005  29982400
2019-10-28  340.839996  322.600006  327.540009  327.709991  18860900
2019-10-29  324.299988  314.750000  319.989990  316.220001  12673300
2019-10-30  318.790009  309.970001  313.000000  315.010010   9637000
2019-10-31  319.000000  313.010010  313.100006  314.250702   1853635

             Adj Close
Date
2019-10-01  244.690002
2019-10-02  243.130005
2019-10-03  233.029999
2019-10-04  231.429993
2019-10-07  237.720001
2019-10-08  240.050003
2019-10-09  244.529999
2019-10-10  244.740005
2019-10-11  247.889999
2019-10-14  256.959991
2019-10-15  257.890015
2019-10-16  259.750000
2019-10-17  261.970001
2019-10-18  256.950012
2019-10-21  253.500000
2019-10-22  255.580002
2019-10-23  254.679993
2019-10-24  299.679993
2019-10-25  328.130005
2019-10-28  327.709991
2019-10-29  316.220001
2019-10-30  315.010010
2019-10-31  314.250702  >

In [19]:
TSLA.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-10-01,245.949997,239.130005,241.500000,244.690002,6162600,244.690002
2019-10-02,244.649994,239.429993,243.289993,243.130005,5631400,243.130005
2019-10-03,234.479996,224.279999,231.860001,233.029999,15084500,233.029999
2019-10-04,234.779999,228.070007,231.610001,231.429993,7995000,231.429993
2019-10-07,238.559998,228.550003,229.800003,237.720001,8064200,237.720001

In [20]:
TSLA.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-10-25,330.000000,296.109985,297.720001,328.130005,29982400,328.130005
2019-10-28,340.839996,322.600006,327.540009,327.709991,18860900,327.709991
2019-10-29,324.299988,314.750000,319.989990,316.220001,12673300,316.220001
2019-10-30,318.790009,309.970001,313.000000,315.010010,9637000,315.010010
2019-10-31,319.000000,313.010010,313.100006,314.250702,1853635,314.250702

In [27]:
tickers = ['PG', 'MSFT', 'T', 'F','GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t,data_source ='yahoo', start = '2019-10-1')['Adj Close']

ValueError: The IEX Cloud API key must be provided either through the api_key variable or through the  environment variable IEX_API_KEY

In [23]:
new_data.tail()

                    PG        MSFT          T     F      GE
Date
2019-10-25  123.250000  140.729996  36.910000  8.72   9.000
2019-10-28  123.480003  144.190002  38.490002  8.61   9.070
2019-10-29  123.599998  142.830002  38.060001  8.64   9.070
2019-10-30  124.940002  144.610001  38.200001  8.54  10.110
2019-10-31  124.224998  143.779999  37.959999  8.52   9.925